*{
    padding: 0;
    margin: 0;
}


body, html {
    height: 100%;
}

.bgimg {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.sopra {
    position: absolute;
    top: 0;
    left: 16px;
}

.sotto {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
    margin-bottom: 5px;
}



.sotto, .sopra{
    padding: 10px 0;
}